nav {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-left: 10px;

}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.logo {
    width: 50px;
    border-radius: 50%;
}


body {
    background: url("https://i.pinimg.com/736x/0d/6c/36/0d6c3686623df1d49a08e4cd1fdda1cc.jpg") 
        no-repeat;
    background-attachment: fixed;
    background-position: center ;
}

.square{
    display: grid;
    grid-template-columns: 1fr;

    border:black 3px solid;
    padding: 1%;
    margin: 4px;
    column-gap: 20px;
    row-gap: 40px;
    opacity: 0.7;
  
    
}

.hot {
    background:rgb(63, 177, 69);
}

.important {
    background:  rgb(238, 95, 95);
}

.notHot.important {
    background: url(https://klike.net/uploads/posts/2019-05/1556705608_3.jpg);
}

.notImportant.notHot{
    background: rgb(161, 161, 22);
}

.task {
    opacity: 1;
    margin: 4px 0px;
    width: 89%;
}

.more-tasks {
    margin-top: 4px;
}

/* .square{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
} */

